body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#id{color: orange;
    
}

.a{
    color: red;
    
}

a{text-decoration: none;}

h1{font-size: 35px;}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 3%;
}
.half-width img {
    width: 65%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato );
    padding:10px 40px;
    border-radius: 10%;
    color: white;
    font-weight: 700;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    ;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}

